<div class="container p-3">
  <ul class="nav nav-tabs" id="myTab">
    <li class="nav-item">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home-tab-pane"
        type="button"
        role="tab"
        aria-controls="home-tab-pane"
        aria-selected="true"
      >
        Secciones
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile-tab-pane"
        type="button"
        role="tab"
        aria-controls="profile-tab-pane"
        aria-selected="false"
      >
        Configuración
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        id="favorite-tab"
        data-bs-toggle="tab"
        data-bs-target="#favorite-tab-pane"
        type="button"
        role="tab"
        aria-controls="favorite-tab-pane"
        aria-selected="false"
      >
        Favoritos
      </button>
    </li>
    <li class="nav-item">
      <button
        class="nav-link"
        id="disabled-tab"
        data-bs-toggle="tab"
        data-bs-target="#disabled-tab-pane"
        type="button"
        role="tab"
        aria-controls="disabled-tab-pane"
        aria-selected="false"
        disabled
      >
        Próximamente
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane">
      <app-sections></app-sections>
    </div>
    <div
      class="tab-pane fade"
      id="profile-tab-pane"
      aria-labelledby="profile-tab"
    >
      <app-setting></app-setting>
    </div>
    <div
      class="tab-pane fade"
      id="favorite-tab-pane"
      aria-labelledby="favorite-tab"
    >
    <app-favorites></app-favorites>
    </div>
    <div
      class="tab-pane fade"
      id="contact-tab-pane"
      aria-labelledby="contact-tab"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="disabled-tab-pane"
      aria-labelledby="disabled-tab"
    >
      ...
    </div>
  </div>
</div>
