<div style="width: 300px; display: flex; flex-direction: column; gap: 10px; padding: 10px;">
    <button type="button" class="btn btn-primary" (click)="goModificarFormulario()">Modificar formulario</button>
    <button type="button" class="btn btn-primary"  (click)="obtenerCampos()">obtener</button>
    <button type="button" class="btn btn-primary"  (click)="llenarCampos()">Llenar campos</button>
    <div *ngFor="let section of listDomains">
        <ng-container *ngIf="section.enabled">
            <hr>
            {{section.name}}
            <hr>
            <div style="display: flex; flex-wrap: wrap; gap: 5px;">
                <ng-container *ngFor="let form of section.listForms">
                    <ng-container  *ngIf="form.enabled">
                        <button type="button" class="btn btn-secondary" (click)="sendPage(form.listFields)" >{{form.name}}</button>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>