<div class="row" [class.favorite]="field.favorite" style="padding-bottom: 10px;">
  <div class="col-auto" style="padding-top: 20px;" cdkDrag>
    <button style="width: 50px" class="btn btn-primary" >
      <i class="fas fa-expand-arrows-alt"></i>
    </button>
    <div class="example-custom-placeholder"  *cdkDragPreview > 
      {{field.name}}
    </div>
  </div>
  <div class="col-2 field" style="position: relative">
    <label for="username">Campo: </label>
    <input
      class="form-control"
      id="username"
      [(ngModel)]="field.name"
      aria-describedby="username-help"
    />
    <-s{{iSection}}|{{iForm}}|{{i}}|0|0s->
    <div 
      style="position: absolute; top: 0px; left: 70px; cursor: pointer"
      (click)="field.favorite = !field.favorite"
    >
      <i class="far fa-star" *ngIf="!field.favorite"></i>
      <i class="fas fa-star" *ngIf="field.favorite"></i>
    </div>
  </div>
  <div class="col-1 field">
    <label for="username">Tipo: </label>
    <select
      style="
        width: 100%;
        border-radius: 5px;
        padding: 6px;
        border-color: #d9d9d9;
      "
      [(ngModel)]="field.type"
    >
      <option
        [value]="option.value"
        *ngFor="let option of types"
        (click)="changeOptionValue(field, option.value)"
      >
        <a class="dropdown-item" href="#">{{ option.name }}</a>
      </option>
    </select>
  </div>
  <div class="col-3 field" style="position: relative">
    <label for="username">valor: </label>
    <ng-container [ngSwitch]="field.type">
      <ng-container *ngSwitchCase="'checkbox'">
        <input
          type="checkbox"
          class="form-control input-normal"
          id="username"
          [(ngModel)]="field.value"
          aria-describedby="username-help"
        />
      </ng-container>
      <ng-container *ngSwitchCase="'radio'">
        <input
          type="checkbox"
          class="form-control input-normal"
          id="username"
          [(ngModel)]="field.value"
          aria-describedby="username-help"
        />
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        <input
          type="number"
          class="form-control"
          id="username"
          [(ngModel)]="field.value"
          aria-describedby="username-help"
        />
      </ng-container>
      <ng-container *ngSwitchCase="'file'">
        <input
          type="file"
          class="form-control"
          (change)="uploadFile($event,field)"
          aria-describedby="username-help"
        />
      </ng-container>
      <ng-container *ngSwitchCase="'sleep'">
        <input
          type="number"
          class="form-control"
          id="username"
          [(ngModel)]="field.value"
          aria-describedby="username-help"
        />
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        <input
          type="date"
          class="form-control"
          id="username"
          [(ngModel)]="field.value"
          aria-describedby="username-help"
        />
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div style="display: flex">
          <input
            style="width: calc(100% - 50px)"
            class="form-control"
            id="username"
            [(ngModel)]="field.value"
            aria-describedby="username-help"
            (input)="generarAleatorio($event, i, iForm)"
            autocomplete="off"
            list="frutasList"
          />
          <datalist id="frutasList">
            <option value="generar_nombre"></option>
            <option value="generar_apellido"></option>
            <option value="generar_correo"></option>
            <option value="generar_telefono"></option>
          </datalist>
        </div>
      </ng-container>
    </ng-container>
    <div
      style="position: absolute; top: 0px; left: 60px; cursor: pointer"
      (click)="openDialogField(field)"
      *ngIf="field.type === 'text' || field.type === 'number'"
    >
      <i class="fas fa-wrench"></i>
    </div>
    <div
      style="position: absolute; top: 0px; left: 85px; cursor: pointer"
      (click)="generarAleatorioRegex(i)"
      *ngIf="field.generateRegex"
    >
      <i class="fas fa-random"></i>
    </div>
  </div>
  <div class="col-3 field">
    <label for="username">query: </label>
    <input
      class="form-control"
      [(ngModel)]="field.query"
      id="username"
      aria-describedby="username-help"
    />
  </div>
  <div class="col">
    <div>Acciones</div>
    <button
      style="width: 50px; margin-right: 5px"
      type="button"
      class="btn btn-primary"
      (click)="deleteField(formModel, i)"
      title="Eliminar campo"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
    <button
      style="width: 50px"
      type="button"
      class="btn btn-primary"
      (click)="duplicar(formModel, i, field)"
    >
      <i class="fas fa-clone" title="Agregar campo abajo del actual"></i>
    </button>
  </div>
</div>