<div
  style="padding: 20px 0px"
  cdkDropList
  (cdkDropListDropped)="dropField($event, listForms)"
>
  <div class="row pb-3">
    <div class="col-3">
      <button
        type="button"
        class="btn btn-primary"
        (click)="displayForm = true"
      >
        Crear formulario
      </button>
    </div>
  </div>
  <ng-container *ngIf="displayForm">
    <hr />
    <div style="color: rgb(253, 120, 120)" *ngIf="errorForm">
      No puede estar el nombre vacio
    </div>
    <form class="row">
      <div class="col-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Nombre formulario:</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nameForm"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
      <div class="col-9"></div>
      <div class="col-2 pt-3">
        <button type="button" class="btn btn-primary" (click)="saveForm()">
          Guardar
        </button>
      </div>
    </form>
  </ng-container>
  <hr />
  <!--RECORRIDO DE FORMULARIOS-->
  <ng-container *ngFor="let formModel of listForms; let iForm = index">
    <div class="section-header" cdkDrag>
      <div style="width: 60%; display: flex; align-items: center">
        <i
          class="far fa-plus-square"
          style="padding-right: 20px; font-size: 18px"
          (click)="formModel.displayForms = !formModel.displayForms"
        ></i>
        <div
          *ngIf="!formModel.editName"
          (dblclick)="formModel.editName = true"
          style="
            width: -webkit-fill-available;
            border-bottom: 1px solid rgb(206, 206, 206);
          "
        >
          {{ formModel.name }}
        </div>
        <input
          *ngIf="formModel.editName"
          style="width: 200px; display: inline-block"
          class="form-control"
          id="username"
          [(ngModel)]="formModel.name"
          aria-describedby="username-help"
          (change)="formModel.editName = false"
          (focusout)="formModel.editName = false"
          (keydown.enter)="formModel.editName = false"
        />
      </div>
      <div style="width: 40%">
        <div style="display: flex; gap: 5px; justify-content: flex-end">
          <button
            style="width: 50px"
            type="button"
            class="btn btn-primary"
            (click)="deleteForm(iForm)"
            title="Eliminar Formulario"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
          <button
            style="width: 50px"
            type="button"
            class="btn btn-primary"
            (click)="duplicarForm(iForm)"
            title="Agregar un formulario abajo del actual"
          >
            <i class="fas fa-clone"></i>
          </button>
          <button
            style="width: 50px"
            type="button"
            class="btn btn-primary"
            (click)="importForm(iForm, formModel)"
            title="Importar campos"
          >
            <i class="fas fa-download"></i>
          </button>
          <button
            style="width: 50px"
            type="button"
            class="btn btn-primary"
            (click)="update(iForm)"
            title="Actualizar query de campos"
          >
            <i class="fas fa-wrench"></i>
          </button>
          <button
            style="width: 50px"
            type="button"
            class="btn btn-primary"
            (click)="export(iForm)"
            title="Exportar campos"
          >
            <i class="fas fa-upload"></i>
          </button>
        </div>
      </div>
      <div style="width: auto; padding-left: 20px; text-align: end">
        <input
          [(ngModel)]="formModel.enabled"
          class="form-check-input"
          type="checkbox"
          id="flexCheckDefault"
        />
      </div>
    </div>
    <div
      style="
        border: 1px solid rgb(176, 176, 176);
        padding: 10px;
        border-radius: 8px;
      "
      *ngIf="formModel.displayForms"
      cdkDropList
      (cdkDropListDropped)="dropField($event, formModel.listFields)"
    >
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2" *ngIf="formModel.listFields.length > 0">
          <button
            style="width: 50px; margin-right: 5px"
            type="button"
            class="btn btn-primary"
            (click)="deleteFields(formModel)"
          >
            <i
              class="fas fa-trash-alt"
              title="Eliminar todos los campos del formulario"
            ></i>
          </button>
        </div>

        <!--RECORRIDO DE CAMPOS-->
        <ng-container *ngFor="let field of formModel.listFields; let i = index">
          <div class="row" >
            <div class="col-2 field">
              <label for="username">Campo: </label>
              <input
                class="form-control"
                id="username"
                [(ngModel)]="field.name"
                aria-describedby="username-help"
              />
            </div>
            <div class="col-1 field">
              <label for="username">Tipo: </label>
              <select
                style="
                  width: 100%;
                  border-radius: 5px;
                  padding: 6px;
                  border-color: #d9d9d9;
                "
                [(ngModel)]="field.type"
              >
                <option
                  [value]="option.value"
                  *ngFor="let option of types"
                  (click)="changeOptionValue(field, option.value)"
                >
                  <a class="dropdown-item" href="#">{{ option.name }}</a>
                </option>
              </select>
            </div>
            <div class="col-3 field" style="position: relative">
              <label for="username">valor: </label>
              <ng-container [ngSwitch]="field.type">
                <ng-container *ngSwitchCase="'checkbox'">
                  <input
                    type="checkbox"
                    class="form-control input-normal"
                    id="username"
                    [(ngModel)]="field.value"
                    aria-describedby="username-help"
                  />
                </ng-container>
                <ng-container *ngSwitchCase="'radio'">
                  <input
                    type="checkbox"
                    class="form-control input-normal"
                    id="username"
                    [(ngModel)]="field.value"
                    aria-describedby="username-help"
                  />
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                  <input
                    type="number"
                    class="form-control"
                    id="username"
                    [(ngModel)]="field.value"
                    aria-describedby="username-help"
                  />
                </ng-container>
                <ng-container *ngSwitchCase="'sleep'">
                  <input
                    type="number"
                    class="form-control"
                    id="username"
                    [(ngModel)]="field.value"
                    aria-describedby="username-help"
                  />
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                  <input
                    type="date"
                    class="form-control"
                    id="username"
                    [(ngModel)]="field.value"
                    aria-describedby="username-help"
                  />
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <div style="display: flex">
                    <input
                      style="width: calc(100% - 50px)"
                      class="form-control"
                      id="username"
                      [(ngModel)]="field.value"
                      aria-describedby="username-help"
                      (input)="generarAleatorio($event, i, iForm)"
                      autocomplete="off"
                      list="frutasList"
                    />
                    <datalist id="frutasList">
                      <option value="generar_nombre"></option>
                      <option value="generar_apellido"></option>
                      <option value="generar_correo"></option>
                      <option value="generar_telefono"></option>
                    </datalist>
                  </div>
                </ng-container>
              </ng-container>
              <div
                style="
                  position: absolute;
                  top: 0px;
                  left: 60px;
                  cursor: pointer;
                "
                (click)="openDialogField(field)"
              >
                <i class="fas fa-wrench"></i>
              </div>
              <div
              style="
                position: absolute;
                top: 0px;
                left: 85px;
                cursor: pointer;
              "
              (click)="generarAleatorioRegex(i, iForm)"
            >
            <i class="fas fa-random"></i>
            </div>
            </div>
            <div class="col-4 field">
              <label for="username">query: </label>
              <input
                class="form-control"
                [(ngModel)]="field.query"
                id="username"
                aria-describedby="username-help"
              />
            </div>
            <div class="col-2">
              <label style="display: block">Acciones</label>
              <button
                style="width: 50px; margin-right: 5px"
                type="button"
                class="btn btn-primary"
                (click)="deleteField(formModel, i)"
                title="Eliminar campo"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
              <button
                style="width: 50px"
                type="button"
                class="btn btn-primary"
                (click)="duplicar(formModel, i, field)"
              >
                <i
                  class="fas fa-clone"
                  title="Agregar campo abajo del actual"
                ></i>
              </button>
              <button style="width: 25px; height: 25px;" cdkDrag>
                <i class="fas fa-expand-arrows-alt"></i>
                <div *cdkDragPreview>
                  {{field.name}}
                </div>
              </button>
            </div>
          </div>
        </ng-container>
        <div class="col-12"></div>
        <div class="col-3 pt-3">
          <button
            type="button"
            class="btn btn-primary"
            (click)="addField(formModel)"
          >
            Agregar campo
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
